<div class="hxrow">
    <div class="col4">
        <div class="drop-container" hxDropzone>
            <div hxDraggable [mode]="'absolute'">
                <h1>DRAG ME 1 !</h1>
            </div>
        </div>
        <div class="drop-container" hxDropzone>

            <div hxDraggable class="rel-drag" [mode]="'relative'">
                <h1>DRAG ME !</h1>
            </div>
        </div>
        <div class="drop-container" hxDropzone>

            <div hxDraggable class="rel-drag" [mode]="'relative'">
                <h1>DRAG ME 3 !</h1>
            </div>
        </div>
        <div class="drop-container" hxDropzone>

            <div hxDraggable class="rel-drag" [mode]="'relative'">
                <h1>DRAG ME 4 !</h1>
            </div>
        </div>
        <div class="drop-container" hxDropzone>

        </div>
    </div>
    <div class="col4">
        <div class="drop-container" hxDropzone>

        </div>
        <div class="drop-container" >

        </div>
        <div class="drop-container" hxDropzone>

        </div>
        <div class="drop-container" >

        </div>
        <div class="drop-container" hxDropzone>
            
                    </div>
    </div>
    <div class="col4">
        <div class="drop-container" >

        </div>
        <div class="drop-container" hxDropzone>

        </div>
        <div class="drop-container" >

        </div>
        <div class="drop-container" hxDropzone>

        </div>
        <div class="drop-container" >

        </div>
    </div>
</div>